<div class="container">
  <div class="col-sm-6 col-sm-offset-3">
    USER INDEX PAGE
    {{#if user}}
      <h4>{{user.username}} logged in.</h4>
    {{else}}
      <h4>not logged in</h4>
    {{/if}}
  </div>
</div>
